.container {
  max-width: 1000px;
  padding-top: 50px;
  text-align: center;
}
.choice {
  width:100%;
  height:50px;
  font-size:25px;
  padding:10px;
}
#decision-text {
  font-weight:bold;
  font-size:64px;
}
#decision {
  margin-top:10px;
}
#status, #score {
  font-size:20px;
}
#status {
  margin-top:-10px;
}
.form-container {
  float:left;
  width:50%;
}
.decision-container {
  float:left;
  width:50%;
}
