doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Michael Herman')
    link(href='http://netdna.bootstrapcdn.com/bootswatch/3.1.0/yeti/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/main.css', rel='stylesheet', media='screen')
  body
    .container
      .jumbotron
        h1 Need to make a decision?
        p.lead Use Twitter sentiment analysis.
        .form-container
          form(action='', method='post', data-bind='submit: formSubmit')
            input#choice1.choice(type='text', data-choice='1', placeholder='Choice #1...', name='choice1', data-bind='value: inputOne')
            input#choice2.choice(type='text', data-choice='2', placeholder='Choice #2...', name='choice2', data-bind='value: inputTwo')
            input#decision.btn.btn-success.btn-lg(type='submit', value='Submit' data-bind='enable: !hasResults()')
        .decision-container
          p(class='alert alert-danger' data-bind='visible: error, text: error')
          div(class='progress progress-striped active' data-bind='visible: isProcessing()')
            div(class='progress-bar progress-bar-primary' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%')
              span(class='sr-only')
          div(class='panel panel-lg panel-success' data-bind='visible: hasResults()')
            div(class='panel-heading')
              h3(class='panel-title') Decision Results
            div(class='panel-body')
              p(class='decision-text', data-bind='html: results')
              div(class='text-center')
                input#decision.btn.btn-success.btn-sm.text-center(type='button', value='Again?' data-bind='click: tryAgain')

    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js')
    script(src='javascripts/main.js')
