.container {
	max-width: 1000px;
	padding-top: 15px;
	text-align: center;
}
.choice {
	width:100%;
	height:50px;
	font-size:25px;
	padding:10px;
	margin: 2px 0;
}
.form-container, .decision-container {
	margin: 10px auto;
	max-width: 500px;
}
.decision-container {
	text-align: left;
}
.panel-title {
	font-size: 30px;
}
.decision-text {
	font-weight:bold;
	font-size:60px;
}
#decision {
	margin-top: 10px;
}
#error {
	font-size:25px;
	color: #600;
}